.pumpkin-canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
  //background-image: url(../../../assets/img/bg-pumpkin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

// html::-webkit-scrollbar {
//     width: 0;
// }
