@import './../../../scss/constants.scss';

.popup-message {
  z-index: 15;

  &__content {
    width: 60%;
    margin: 0 auto;
    max-width: 300px;
    background-color: $accent5-color;
    padding: 20px;
    border-radius: $border-radius;
  }

  &__message-info {
    color: $text-color-light;
    font-size: 18px;
    text-align: center;
  }
}
