@import './../../../scss/constants.scss';
@import './../../../scss/base.scss';

/* ==== nav-block  ==== */
.nav-block {
  position: absolute;
  z-index: 100;
  top: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
  }

  &__right {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
  }
}

// ==== main-user ====
.main-user {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 6px 15px;
  @media (max-width: 768px) {
    padding: 5px 12px;
    font-size: 14px;
  }
  @media (max-width: 480px) {
    padding: 3px 10px;
  }

  .main-user-icon {
    width: 30px;
    height: 30px;
    background: url(./../../../assets/icons/ghost-min.png) center/contain no-repeat;
    @media (max-width: 768px) {
      width: 26px;
      height: 26px;
    }
  }

  .main-user-name {
  }
}

.main-user.signin-active {
  .main-user-icon {
    background: url(./../../../assets/icons/pumpkin-hat-min.png) center/contain no-repeat;
  }
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  /* show texts */
  pointer-events: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 8px;
  border-radius: $border-radius;
  font-family: 'HennyPenny', 'Roboto', Arial, sans-serif;
  background: $gray-color-light;
  color: $text-color;
  font-size: 14px;
  text-align: center;
  padding: 5px 15px;

  opacity: 0;
  transition: 0.5s;
}

[data-tooltip]:hover::after {
  opacity: 0.9;
  top: 55px; //50px +5px
}
// ==== /main-user ====

// ==== btns-nav ====
.btn-nav {
  width: 40px;
  height: 40px;
  font-size: 22px;
  transition: 0.3s;
  cursor: pointer;
  @media (max-width: 768px) {
    width: 36px;
    height: 36px;
  }
  @media (max-width: 480px) {
    width: 32px;
    height: 32px;
  }
}

.btn-nav--settings {
  width: 38px;
  height: 38px;
  background: url(./../../../assets/icons/icon-settings-1.png) no-repeat;
  background-size: contain;
  @media (max-width: 768px) {
    width: 34px;
    height: 34px;
  }
  @media (max-width: 480px) {
    width: 30px;
    height: 30px;
  }
}

.btn-nav--settings:hover,
.btn-nav--settings:focus {
  transform: rotate(15deg);
}

.btn-nav--home {
  background: url(./../../../assets/icons/door-close2.png) no-repeat;
  filter: brightness(0) saturate(100%) invert(74%) sepia(87%) saturate(953%) hue-rotate(355deg) brightness(100%) contrast(108%);
  background-size: contain;
}

.btn-nav--home:hover,
.btn-nav--home:focus {
  background: url(./../../../assets/icons/door-open2.png) no-repeat;
  background-size: contain;
  transition: 0.3s;
}

.btn-nav--game-info {
  width: 37px;
  height: 37px;
  background: url(./../../../assets/icons/icon-question-mark-draw-yellow.png) no-repeat;
  background-size: contain;
  @media (max-width: 768px) {
    width: 33px;
    height: 33px;
  }
  @media (max-width: 480px) {
    width: 29px;
    height: 29px;
  }
}

.btn-nav--game-info:hover {
  background: url(./../../../assets/icons/icon-question-mark-draw-white.png) no-repeat;
  background-size: contain;
}
// ==== /btns-nav ====