@import './../../../scss/constants.scss';

// ===== popup ======
.popup {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);

  &__content {
    width: 80%;
    margin: 0 auto;
    max-width: 440px;
    background-color: $light-color-2;
    padding: 20px;
    border-radius: $border-radius;
    color: $text-color;
  }

  .pumpkin-modal {
    text-align: center;
    color: #bb07df;
    text-transform: uppercase;
    font-size: 40px;
  }

  .pumpkin-next-level,
  .pumpkin-exit,
  .pumpkin-restart {
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    
    .exit {
      color: white;
    }

    .exit:hover {
      color: black;
    }
  }
}
