@import '../mainPage/style-main-page.scss';

.parallax-game {
  @include parent-size;
}

.parallax-game-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @include parent-size;
  background-color: #000000;
}

.parallax-game-results {
  z-index: 50;
  position: absolute;
  top: 0;
  left: 0;
  color: #000000;
}

.canvas-container {
  width: fit-content;
  height: fit-content;
  font-size: 0;
}

#canvas-parallax {
  position: relative;
}
