//color palette
//main: https://color.romanuke.com/tsvetovaya-palitra-487/
//https://color.romanuke.com/tsvetovaya-palitra-1070/

$dark-color: #000000;
$text-color: #522f2d; //+
$text-color-light: #ffffff; //+
$gray-color: #767474;
$gray-color-light: #ababab;
$light-color-1: #fbf8cb; //+
$light-color-2: #d8c7b9;
$accent1-color: #ff9900; //+
$accent2-color: #ffb444; 
$accent3-color: #49258f; //+
$accent4-color: #d489b2;
$accent5-color: #7e3efd;
$accent6-color: #ffef01;
$accent7-color: #0fcf93; //+
$accent8-color: #3f5165; //+
$accent9-color: #9099b8;
$error-color: #ff0000;

$border-radius: 25px;